Makefile
*.pbc
*.patch
*.gz

src/gen_*.pir
src/parser/grammar.pg

src/ops/*.bundle
src/ops/*.c
src/ops/*.dll
src/ops/*.dump
src/ops/*.h
src/ops/*.o
src/ops/*.obj
src/ops/*.pdb
src/ops/*.so

src/pmc/*.bundle
src/pmc/*.c
src/pmc/*.dll
src/pmc/*.dump
src/pmc/*.h
src/pmc/*.o
src/pmc/*.obj
src/pmc/*.pdb
src/pmc/*.so
